* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h1 {
  text-align: center;
  margin-top: 24px;
  padding: 12px;
}

.hidden {
  display: none;
}

/* Same as putting br after label tag */
form label {
  padding: 8px 0;
  display: block;
}

.form-section {
  width: 50%;
  background-color: #e1e1e1;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #929292;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 12px 4px;
  border-radius: 4px;
  border: none;
  text-overflow: ellipsis;
}

button {
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 2px;
  transition: all 0.3 ease;
  border: none;
  box-shadow: 0 4px rgba(0, 0, 0, 0.1);
}

#btn-toggle-form {
  background-color: #fff;
  padding: 6px 10px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
  width: 25%;
  margin: 12px 0;
  margin: 0 auto;
}

/* Finds checked inputs and applies css to label which is right after the input tag */
input[type="checkbox"]:checked + label {
  color: tomato;
  text-decoration: line-through;
}

.name-error-msg {
  color: red;
  margin-top: 4px;
  display: block;
}
